html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: white;
}

.welcome-screen {
  padding-top: 70px;
  width: 100%;
  height: 700px;
  background-image: url(../images/Background.png);
  background-size: cover;
}
.welcome-screen header {
  margin: 0 auto;
  align-items: center;
  width: 944px;
  height: 36px;
}
.welcome-screen header .logo {
  float: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 550px;
}
.welcome-screen header .log-sig {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 174px;
  height: 100%;
}
.welcome-screen header .log-sig .log-in {
  float: left;
  margin: 0 20px 0 0;
  width: 44px;
  height: 17px;
}
.welcome-screen header .log-sig .sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  border-radius: 20px;
  float: left;
  width: 90px;
  height: 36px;
}
.welcome-screen .welcome-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 183.5px;
  width: 470px;
  height: 126px;
}
.welcome-screen .und-welcome-text {
  width: 356px;
  height: 25px;
  margin: 0 auto;
  margin-top: 28.5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.welcome-screen .welcome-button {
  margin: 0 auto;
  margin-top: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF4E50;
  border-radius: 40px;
  width: 225px;
  height: 40px;
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.second-blocks {
  margin: 95px auto;
  width: 940px;
  height: 461px;
}
.second-blocks .how {
  display: flex;
  justify-content: center;
  color: black;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}
.second-blocks .collect-blocks {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 100%;
  height: 400px;
}
.second-blocks .blocks {
  border-radius: 4px;
  width: 300px;
  height: 394px;
  background-size: cover;
}
.second-blocks .one {
  background-size: auto;
  background-image: url(../images/Bitmap.png);
}
.second-blocks .two {
  background-size: auto;
  background-image: url(../images/Bitmap2.png);
}
.second-blocks .three {
  background-size: auto;
  background-image: url(../images/Bitmap3.png);
}
.second-blocks .coral-blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  position: relative;
  top: 220px;
  left: 25px;
  border-radius: 40px;
  background-color: #FF4E50;
  width: 70px;
  height: 20px;
}
.second-blocks .description-topic {
  position: relative;
  left: 25px;
  top: 240px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  width: 250px;
  height: 58px;
}
.second-blocks .description {
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 25px;
  top: 255px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 14px;
  width: 250px;
  height: 57px;
}
.second-blocks .dop {
  top: 260px;
  width: 250px;
  height: 29px;
}
.second-blocks .dopon {
  top: 270px;
}
.second-blocks .anoth {
  top: 250px;
}

.partners-blocks {
  margin: 50px auto;
  width: 941px;
  height: 361px;
}
.partners-blocks .meet {
  color: black;
  margin: 0 auto;
  width: 491px;
  height: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}
.partners-blocks .people-block {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  height: 224px;
  width: 100%;
}
.partners-blocks .people-block .block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 221px;
  height: 205px;
}
.partners-blocks .people-block .block .another {
  height: 284px;
}
.partners-blocks .people-block .block .big-circle {
  margin: 0 auto;
  border-radius: 120px;
  width: 120px;
  height: 120px;
}
.partners-blocks .people-block .block .big-circle .small-circle {
  position: relative;
  left: 85px;
  top: 85px;
  border-radius: 32px;
  border: 4px solid white;
  height: 32px;
  width: 32px;
}
.partners-blocks .people-block .block .big-circle .onese {
  background-color: #FF4E50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: url(../images/music2.png);
}
.partners-blocks .people-block .block .big-circle .twose {
  background-color: #19D4CA;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/Shape.png);
}
.partners-blocks .people-block .block .big-circle .threese {
  background-color: #FFA710;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/Shape-2.png);
}
.partners-blocks .people-block .block .big-circle .fourse {
  background-color: #667DF3;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/Shape-3.png);
}
.partners-blocks .people-block .block .threes {
  height: 140px;
  height: 140px;
}
.partners-blocks .people-block .block .fours {
  height: 140px;
  height: 140px;
}
.partners-blocks .people-block .block .ones {
  background-size: cover;
  background-image: url(../images/Bitmap-ones.png);
}
.partners-blocks .people-block .block .twos {
  background-size: cover;
  background-image: url(../images/Bitmap-twose.png);
}
.partners-blocks .people-block .block .threes {
  background-size: cover;
  background-image: url(../images/Bitmap-threes.png);
}
.partners-blocks .people-block .block .fours {
  background-size: cover;
  background-image: url(../images/Bitmap-4.png);
}
.partners-blocks .people-block .block .heder {
  font-family: "Roboto", sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 20px;
  width: 221px;
  height: 18px;
}
.partners-blocks .people-block .block .descripton {
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  width: 221px;
  height: 57px;
}
.partners-blocks .people-block .block .dop {
  margin: 10px 0 10px 0;
}
.partners-blocks .peoples-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF4E50;
  width: 180px;
  height: 40px;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.activity-blocks {
  margin: 45px auto;
  width: 940px;
  height: 1031px;
}
.activity-blocks .discover {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin: 0 auto;
  width: 413px;
  height: 37px;
}
.activity-blocks .bloks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  height: 310px;
}
.activity-blocks .bloks .three-blocks {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #667DF3;
  width: 300px;
  height: 310px;
}
.activity-blocks .bloks .two-blocks {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 620px;
  height: 310px;
  background-color: #667DF3;
}
.activity-blocks .bloks .first {
  background-size: cover;
  background-image: url(../images/first.png);
}
.activity-blocks .bloks .second {
  background-size: cover;
  background-image: url(../images/second.png);
}
.activity-blocks .bloks .third {
  background-size: cover;
  background-image: url(../images/third.png);
}
.activity-blocks .bloks .fourth {
  background-size: cover;
  background-image: url(../images/fourth.png);
}
.activity-blocks .bloks .fiveth {
  background-size: cover;
  background-image: url(../images/fiveth.png);
}
.activity-blocks .bloks .sixth {
  background-size: cover;
  background-image: url(../images/sixth.png);
}
.activity-blocks .bloks .seventh {
  background-size: cover;
  background-image: url(../images/seventh.png);
}

.creating-holiday {
  color: black;
  margin: 50px auto;
  width: 482px;
  height: 158px;
}
.creating-holiday .create-holiday {
  margin: 0 auto;
  margin-bottom: 43px;
  width: 338px;
  height: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}
.creating-holiday .holiday-question {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 265px;
  height: 24px;
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}
.creating-holiday .enter-window {
  width: 482px;
  height: 40px;
}
.creating-holiday .enter-window .enter {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-right: 10px;
  color: #999999;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  width: 299px;
  height: 40px;
}
.creating-holiday .enter-window .enter-button {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  width: 162.12px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  border: 0;
}

.footer {
  color: black;
  padding-top: 38px;
  width: 100%;
  height: 224px;
}
.footer .dreamshare {
  float: left;
  margin: 0 122px 0 249px;
  width: 119px;
  height: 184px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.footer .head-and-list {
  margin-right: 125px;
  float: left;
}
.footer .head-and-list .ogo {
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}
.footer .head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 11px;
}
.footer .kek {
  margin-right: 287px;
  float: left;
}
.footer .last {
  float: left;
  height: 43px;
}
.footer .designed {
  margin-left: 27px;
  width: 83px;
  height: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
}
.footer .areto {
  background-image: url(../images/Areto.png);
  width: 110px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .welcome-screen {
    padding-top: 46px;
  }
  .welcome-screen header {
    line-height: 24px;
    width: 670px;
    height: 36px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
  .welcome-screen header .logo {
    margin-right: 355px;
    float: left;
    width: 152px;
    height: 24px;
  }
  .welcome-screen header .log-sig {
    float: left;
    width: 163px;
  }
  .welcome-screen header .log-sig .log-in {
    line-height: 17px;
    width: 44px;
    height: 17px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .welcome-screen header .log-sig .sign-in {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .welcome-screen .welcome-text {
    font-family: "Montserrat";
    font-style: normal;
    font-size: 52px;
    font-weight: 700;
    line-height: 63px;
    text-align: center;
    width: 470px;
    height: 126px;
    left: 149px;
    top: 183.5px;
  }
  .welcome-screen .und-welcome-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    width: 396px;
    height: 25px;
    left: 186px;
  }
  .welcome-screen .welcome-button {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    left: 272px;
    width: 225px;
    height: 40px;
  }
  .second-blocks {
    width: 748px;
    height: 461px;
  }
  .second-blocks .how {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 289px;
    height: 27px;
  }
  .second-blocks .blocks {
    width: 236px;
    height: 400px;
  }
  .second-blocks .description-topic {
    width: 196px;
    height: 58px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 14px;
  }
  .second-blocks .dop {
    width: 196px;
    height: 29px;
  }
  .second-blocks .description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    width: 196px;
    height: 76px;
  }
  .second-blocks .dopon {
    width: 196px;
    height: 57px;
  }
  .partners-blocks {
    width: 492px;
    height: 605px;
  }
  .partners-blocks .meet {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 416px;
    height: 27px;
  }
  .partners-blocks .people-block {
    display: block;
    justify-content: space-between;
  }
  .partners-blocks .people-block .block {
    float: left;
    width: 236px;
    height: 224px;
  }
  .partners-blocks .peoples-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF4E50;
    width: 180px;
    height: 40px;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
  .activity-blocks {
    width: 748px;
    height: 1031px;
  }
  .activity-blocks .bloks .three-blocks {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 236px;
    height: 310px;
  }
  .activity-blocks .bloks .two-blocks {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 492px;
    height: 310px;
  }
  .create-holiday {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 303px;
    height: 27px;
  }
  .create-holiday .holiday-question {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    width: 415px;
    height: 24px;
  }
  .footer .dreamshare {
    margin-left: 39px;
  }
  .footer .head-and-list {
    margin-right: 70px;
  }
  .footer .kek {
    margin-right: 68px;
  }
}
@media screen and (max-width: 310px) {
  .welcome-screen {
    background-size: cover;
    padding-top: 20px;
    height: 540px;
  }
  .welcome-screen header {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin: 0 auto;
    align-items: center;
    width: 153px;
    height: 200px;
  }
  .welcome-screen header .logo {
    height: 36px;
    margin: 0 auto;
  }
  .welcome-screen header .log-sig {
    height: 36px;
  }
  .welcome-screen .welcome-text {
    margin: 26.5px 0 0 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    width: 272px;
    height: 74px;
    text-align: center;
  }
  .welcome-screen .und-welcome-text {
    margin-top: 5.5px;
    text-align: center;
    width: 280px;
    height: 49px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }
  .welcome-screen .welcome-button {
    margin-top: 15px;
  }
  .second-blocks {
    width: 300px;
    height: 781px;
  }
  .second-blocks .how {
    width: 289px;
    height: 27px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }
  .second-blocks .collect-blocks {
    height: 740px;
    display: flex;
    flex-direction: column;
  }
  .second-blocks .collect-blocks .blocks {
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 240px;
  }
  .second-blocks .collect-blocks .one {
    background-image: url(../images/Object1.png);
  }
  .second-blocks .collect-blocks .two {
    background-image: url(../images/Object2.png);
  }
  .second-blocks .collect-blocks .three {
    background-image: url(../images/Object3.png);
  }
  .second-blocks .collect-blocks .coral-blocks {
    margin-left: 20px;
    margin-top: 64px;
    position: unset;
  }
  .second-blocks .collect-blocks .description-topic {
    margin-left: 20px;
    margin-top: 15px;
    position: unset;
  }
  .second-blocks .collect-blocks .description {
    margin-left: 20px;
    margin-top: 10px;
    position: unset;
  }
  .partners-blocks {
    width: 300px;
    height: 1100px;
  }
  .partners-blocks .meet {
    width: 280px;
    height: 54px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    text-align: center;
  }
  .partners-blocks .people-block {
    height: 1008px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .partners-blocks .people-block .block {
    display: block;
    margin: 0 auto;
  }
  .partners-blocks .people-block .block .big-circle {
    margin: 0 auto;
    border-radius: 120px;
    width: 120px;
    height: 120px;
  }
  .partners-blocks .people-block .block .big-circle .small-circle {
    position: relative;
    left: 85px;
    top: 85px;
    border-radius: 32px;
    border: 4px solid white;
    height: 32px;
    width: 32px;
  }
  .activity-blocks {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    height: 866px;
    width: 300px;
  }
  .activity-blocks .bloks {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }
  .activity-blocks .bloks .three-blocks {
    margin-bottom: 10px;
    width: 300px;
    height: 120px;
  }
  .activity-blocks .bloks .two-blocks {
    margin-bottom: 10px;
    width: 300px;
    height: 120px;
  }
  .activity-blocks .bloks .first {
    background-size: cover;
    background-image: url(../images/1.png);
  }
  .activity-blocks .bloks .second {
    background-size: cover;
    background-image: url(../images/2.png);
  }
  .activity-blocks .bloks .third {
    background-size: cover;
    background-image: url(../images/3.png);
  }
  .activity-blocks .bloks .fourth {
    background-size: cover;
    background-image: url(../images/4.png);
  }
  .activity-blocks .bloks .fiveth {
    background-size: cover;
    background-image: url(../images/5.png);
  }
  .activity-blocks .bloks .sixth {
    background-size: cover;
    background-image: url(../images/6.png);
  }
  .activity-blocks .bloks .seventh {
    background-size: cover;
    background-image: url(../images/7.png);
  }
  .activity-blocks .anotho {
    height: 220px;
  }
  .creating-holiday {
    height: 152px;
    width: 280px;
  }
  .creating-holiday .create-holiday {
    margin-bottom: 9px;
    width: 280px;
    height: 54px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    text-align: center;
  }
  .creating-holiday .holiday-question {
    margin-bottom: 15px;
    width: 280px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }
  .creating-holiday .enter-window {
    width: 280px;
    height: 90px;
  }
  .creating-holiday .enter-window .enter {
    margin-bottom: 20px;
    width: 280px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
  .creating-holiday .enter-window .enter-button {
    width: 280px;
    height: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
  .footer .dreamshare {
    margin: 0 auto;
    float: none;
    width: 119px;
    height: 20px;
    margin-bottom: 13px;
  }
  .footer .head {
    margin: 0 auto;
    margin-bottom: 14px;
    float: none;
    width: 70px;
    height: 17px;
  }
  .footer .head-and-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    float: none;
    width: 280px;
    height: 80px;
    margin-bottom: 20px;
  }
  .footer .head-and-list .list {
    width: 280px;
    height: 52px;
    display: block;
    text-align: center;
  }
  .footer .head-and-list .list .ogo {
    line-height: 15px;
    text-align: center;
    float: left;
    width: 70px;
    height: 17px;
  }
  .last {
    margin-left: 75px;
    height: 43px;
  }
  .last-margin {
    margin-left: 70px;
  }
}/*# sourceMappingURL=main.css.map */
